@import './font.css';

* {
  font-family: DINRoundOT, sans-serif !important;
}

.section-container {
    padding: 12px;
    background: #ffffff;
    border-radius: 8px;
    margin-bottom: 24px;
}

.zaui-page {
    @apply font-sans;
    min-height: calc(100vh - 80px) !important;
    max-height: calc(100vh - 80px) !important;
}

.zaui-page::-webkit-scrollbar {
  display: none;
}

.zaui-page::-webkit-scrollbar-thumb {
  background-color: #1890FF;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.round-scan-container {
  position: relative;
  overflow: hidden;
}

.scan-line {
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  height: 1px;
  box-shadow: 0 0 40px 1px #F8F05F;
  background: #F8F05F;
  animation: scan 2s linear infinite;
}

@keyframes scan {
  0%   { top: -20%; }
  50%  { top: 120%; }
  100% { top: -20%; }
}

.text-gold-shadow {
  text-shadow:
    0px 4px 1px #BA0006;
}

.concave-bar {
  -webkit-mask:
    radial-gradient(circle 6px at top, transparent 98%, #000 100%),
    radial-gradient(circle 6px at bottom, transparent 98%, #000 100%),
    linear-gradient(#000 0 0);
  -webkit-mask-composite: destination-out, destination-out, source-over;
  mask-composite: exclude, exclude, add;
}

.sub-card {
  @apply bg-[#8C000480]  border-2 border-[#81000233];
}

.dashed-custom, .dashed-gray-custom {
  @apply relative bg-transparent last:bg-none !important;
}

.dashed-custom::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 80%;
  height: 1px;
  background: linear-gradient(to right, rgba(255,255,255,0.3) 70%, transparent 0);
  background-size: 20px 1px;
  background-repeat: repeat-x;
}

.dashed-custom:last-child::after {
  display: none;
}


.dashed-gray-custom::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: linear-gradient(to right, rgba(0,0,0,0.3) 70%, transparent 0);
  background-size: 20px 1px;
  background-repeat: repeat-x;
}

.dashed-custom:last-child::after {
  display: none;
}