@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

* {
  font-family: Google Sans, sans-serif !important;
}

.section-container {
    padding: 12px;
    background: #ffffff;
    border-radius: 8px;
    margin-bottom: 24px;
}

.zaui-page {
    @apply font-sans;
    min-height: calc(100vh - 80px) !important;
    max-height: calc(100vh - 80px) !important;
}

.zaui-page::-webkit-scrollbar {
  display: none;
}

.zaui-page::-webkit-scrollbar-thumb {
  background-color: #1890FF;
}

.no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.round-scan-container {
  position: relative;
  overflow: hidden;
}

.scan-line {
  position: absolute;
  top: -20%;
  left: 0;
  width: 100%;
  height: 1px;
  box-shadow: 0 0 40px 1px #F8F05F;
  background: #F8F05F;
  animation: scan 2s linear infinite;
}

@keyframes scan {
  0%   { top: -20%; }
  50%  { top: 120%; }
  100% { top: -20%; }
}