@font-face {
    font-family: 'DINRoundOT';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('@/assets/fonts/DINRoundOT.otf') format('truetype');
}

@font-face {
    font-family: 'DINRoundOT';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('@/assets/fonts/DINRoundOT-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'DINRoundOT';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('@/assets/fonts/DINRoundOT-Light.otf') format('truetype');
}

@font-face {
    font-family: 'DINRoundOT';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('@/assets/fonts/DINRoundOT-Medium.otf') format('truetype');
}
